# Dependencies
node_modules/
.pnp
.pnp.*

# Build output
dist/

# TypeScript
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Motion Canvas
*.meta.bak
